# Node modules
node_modules/

# Logs
*.log
logs/

# Build output
dist/

# Environment files
.env

# Lock file
package-lock.json

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
